doctype xml
wps:ProcessDescriptions(xmlns:xlink="http://www.w3.org/1999/xlink", xmlns:wps="http://www.opengis.net/wps/1.0.0", xmlns:ows="http://www.opengis.net/ows/1.0", xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance", service="WPS", version="1.0.0", updateSequence="1", xmlns:lang="en", xsi:schemaLocation="http://www.opengis.net/wps/1.0.0 ../wpsDescribeProcess_response.xsd")
    for process in processes
        ProcessDescription
            ows:Identifier #{process.id}
            ows:Title #{process.title}
            ows:Abstract #{process.Abstract}
            for meta in process.metadata
                ows:Metadata(xlink:title="#{meta}")
            wps:Profile #{process.profile}
            DataInput
                for input in process.inputs
                    Input(minOccurs="#{input.minOccurs}" maxOccurs="#{input.maxOccurs}")
                        ows:Identifier #{input.id}
                        ows:Title #{input.title}
                        ows:Abstract #{input.abstract}
                        ComplexData(maximumMegabytes="#{input.maxSize}")
                            Default
                                Format
                                    MimeType #{input.defaultFormat.mimeType}
                                    Encoding #{input.defaultFormat.encoding}
                                    Schema #{input.defaultFormat.schema}
                            Supported
                                for fmt in input.supportedFormats
                                    Format
                                        MimeType #{fmt.mimeType}
                                        Encoding #{fmt.encoding}
                                        Schema #{fmt.schema}
            ProcessOutputs
                for output in process.outputs
                    Output
                        ows:Identifier #{output.id}
                        ows:Title #{output.title}
                        ows:Abstract #{output.abstract}
                        ComplexOutput
                            Default
                                Format
                                    MimeType #{output.defaultFormat.mimeType}
                                    Encoding #{output.defaultFormat.encoding}
                                    Schema #{output.defaultFormat.schema}  
                            Supported
                                for fmt in output.supportedFormats
                                    Format
                                        MimeType #{fmt.mimeType}
                                        Encoding #{fmt.encoding}
                                        Schema #{fmt.schema}    
